{% extends 'main.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="container-fluid">
            <form action="" method="POST">
                {% csrf_token %}
                <a href="{% url 'updateEmployee' details.id %}">Edit</a>
            </form>
        
            <h4>Name: {{ details.first_name }}</h4>
            <h4>Last Name: {{ details.last_name }}</h4>
            <h4>Position: {{ details.job_position }}</h4>
            <h4>Wage: R{{ details.wage }}</h4>
        
            <form action="" method="POST">
                {% csrf_token %}
                <a href="{{ request.META.HTTP_REFERER }}">Go back</a>
                <a href="{% url 'delete' details.id %}">Delete</a>
            </form>
        </div>
    </div>


{% endblock %}

