<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Records</title>
    
</head>
<body>
{% extends 'main.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="container-fluid">
            <a href="{% url 'newEmployee' %}">Add employee</a>
    
            <h3>List of Employees</h3>
    
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                </tr>
                {% for employee in details %}
                <tr>
                    <th><a href="{% url 'employeeDetails' employee.id%}">{{ employee.first_name }} {{ employee.last_name }}</a></th>
                    <th>{{ employee.job_position }}</th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
 
{% endblock %}
</body>
</html>