{% extends 'main.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="container-fluid">
            <form action="" method="POST">
                {% csrf_token %}
            
                {{ form.as_p }}
            
                <a href="{{ request.META.HTTP_REFERER }}">Go back</a>
                <button type="submit">Submit</button>
            
                <!-- <label>Employee First Name: </label><br>
                <input type="text" name="firstname" placeholder="Enter Fullname"/><br>
                 -->
            </form>
        </div>
    </div>

{% endblock %}